---
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import Php from "./icons/Php.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import Nodejs from "./icons/Nodejs.astro";
import AstroIcon from "./icons/Astroicon.astro";
import React from "./icons/React.astro";
import Sass from "./icons/Sass.astro";
import Express from "./icons/Express.astro";


const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#003159] text-white",
    icon: Php,
  },
  BOOTSTRAP: {
    name: "Boostrap",
    class: "bg-[#360e67] text-white",
    icon: Bootstrap,
  },
  NODEJS: {
    name: "NodeJs",
    class: "bg-[#12250e] text-white",
    icon: Nodejs,
  },
  ASTROICON: {
    name: "Astro",
    class: "bg-[#372669] text-white",
    icon: AstroIcon,
  },
  REACTICON: {
    name: "ReactJs",
    class: "bg-[#0d607d] text-white",
    icon: React,
  },
  SASS:{
    name: "Sass",
    class: "bg-[#6e2d47] text-white",
    icon: Sass,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-[#464646] text-white",
    icon: Express,
  }
  };

const PROJECTS = [
  {
    title: "GamerClubVIP - Comunidad de jugadores y Noticias de videojuegos",
    description:
      "Plataforma para los jugadores, con las noticias mas recientes de videojuegos, guías, trucos y mucho más.",
    postdata: "Actualmente se encuentra en migración a Next.js con un mejor diseño y rendimiento.",
    link: "https://gamerclub.vip",
    linkprueba: "https://gamerclub.netlify.app",
    image: "/proyectos/gamerclub.webp",
    tags: [TAGS.PHP, TAGS.BOOTSTRAP],
  },
  {
    title: "BLOGTIMedia - Blog de tecnología y noticias",
    description:
      "Servicios de alojamiento, streaming y software a demanda a todas las instituciones cristianas sin fines de lucro sin cargos.",
    link: "https://blogtimedia.com/",
    image: "/proyectos/blogtimedia.webp",
    tags: [TAGS.NODEJS, TAGS.EXPRESS, TAGS.TAILWIND],
  },
  {
    title: "Proseragro - Promotores de Servicios y Agrogestión Agrícola",
    description:
      "Somos un proyecto promovido con el compromiso de contribuir con el desarrollo del sector agrícola al ofrecer comunicación y marketing especializado en el sector fitosanitario",
    link: "https://proseragro.com/",
    image: "/proyectos/proseragro.webp",
    tags: [TAGS.ASTROICON, TAGS.TAILWIND, TAGS.REACTICON],
  },
  {
    title: "Fundación Letty Rivera - Formando talentos a través del Arte y La Cultura",
    description:
      "Buscamos rescatar el arte en nuestro pueblo, La Vega. República Dominicana.",
    link: "https://fundacionlettyrivera.com",
    image: "/proyectos/fundacionlettyrivera.webp",
    tags: [TAGS.ASTROICON, TAGS.SASS],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, postdata, linkprueba }) => (
      <article class="flex flex-col items-center space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={title}
              class="object-cover object-top w-full h-48 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mb-4">
              <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
              <p class="text-gray-400/50 text-sm">{postdata && linkprueba && (
                <span class="mr-1">{postdata}</span> 
                <a target="_blank" class="text-yellow-400/50" href={linkprueba}>Ver avances</a>
              )}</p>
            </div>
            <footer class="flex items-end justify-start  gap-x-4">
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
